<div class="container" roundForm>
  <h1 class="title">User form:</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form">
    <label class="label">
      <span class="input_title">Email:</span>
      <input
        type="text"
        name=""
        id=""
        class="input"
        formControlName="email"
        [ngClass]="{
          'invalid-input': emailControl.invalid && emailControl.touched
        }"
      />
    </label>
    <label class="label">
      <span class="input_title">Password:</span>
      <input
        type="password"
        name=""
        id=""
        class="input"
        formControlName="password"
        [ngClass]="{
          'invalid-input': passwordControl.invalid && passwordControl.touched
        }"
      />
    </label>
    <button type="submit" class="button" [disabled]="userForm.invalid">
      Submit
    </button>
  </form>
</div>
