html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
}

#layout {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
  min-height: 100vh;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

app-form {
  width: 100%;
}
